<% trail_segments.each do |segment| %>
  <li>
    <span><%= segment.start %></span>
    <span><%= segment.end %></span>
    <span><%= segment.distance %></span>
    <%= form_tag do %>
      <%= check_box_tag(:hiked, :hiked, this_segment_hiked?(segment: segment, user: @user)) %>
    <% end %>
  </li>
<% end %>
