<li>
  <ul class="accordion">
    <li>
    <a href="javascript:void(0)" class="js-accordion-trigger"><%= trail.name %></a>
      <ul class="submenu">
      <% trail.trail_segments.each do |segment| %>
        <li>
          <span><%= segment.start %></span>
          <span><%= segment.end %></span>
          <span><%= segment.distance %></span>
          <span><%= this_segment_hiked?(segment: segment, user: @user) %></span>
      </li>
      <% end %>
      </ul>
    </li>
  </ul>
</li>
